:root {
    --second-color: #2196F3;
    --paragraph-color: #757575;
    --accent-color: #FFFFFF;
    --main-accent-color: #000000;
    --second-font: Raleway, sans-serif;
    --main-color: #212121;
    --background-color: #F5F4FA;
    --button-order-active: #188CE8;
    --button-order-shadow: rgba(0, 0, 0, 0.15);
    --footer-paragraph-color: rgba(255, 255, 255, 0.6);
    --hero-footer-background: #2F303A;
    --button-shadow-first: rgba(0, 0, 0, 0.1);
    --button-shadow-second: rgba(0, 0, 0, 0.08);
    --button-shadow-third: rgba(0, 0, 0, 0.12);
    --img-gap: 30px;
    --img-quantity-whatwedo: 3;
    --img-quantity-ourteam: 4;
    --img-quantity-portfolio: 3;
}
body {
    background-color: var(--accent-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0, 0px;
    border: none;
}
.section {
    display: flex;
    padding: 94px 15px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.item {
    list-style: none;
}
.link:hover, .link:focus {
   color: var(--second-color); 
}
a {
    text-decoration: none;
}
.button {
    font-family: inherit; 
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: inherit;
    background-color: var(--background-color);
    cursor: pointer;
    border-radius: 4px;
}
.button:hover, button:focus {
    background-color: var(--second-color);
    color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--button-shadow-first), 0px 1px 2px var(--button-shadow-second), 0px 2px 2px var(--button-shadow-third);
}
.button-order:hover, .button-order:focus {
    background-color: var(--button-order-active);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
}
/*Header*/
.header {
    background: var(--accent-color);
}
.header-container {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
}
.nav-list {
    display: flex;
   }
  .nav-link {
    display: flex;
    padding-top: 32px ;
    padding-bottom: 32px;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
    padding-right: 0px;
  }
  .contacts {
    display: flex;
    margin-left: 330px;
  }
  .header-mail {
    margin-right: 50px;
  }
.logo {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    text-decoration: none;
    max-width: 145px;
    max-height: 31px;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-first-part {
    color: var(--second-color);
    }
.logo-last-part {
    color: var(--main-accent-color);
   }
.nav-list .link {
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.nav-list .link.current {
    color: var(--second-color);
}
.nav-list .link:hover, .nav-list .link:focus  {
    color: var(--second-color);
}
.contacts .link {
    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
}
.contacts .link:hover, .contacts .link:focus {
    color: var(--second-color);
}
/*Footer*/
.footer {
    background: var(--hero-footer-background);
}
.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
}
.logo-footer {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.logo-footer-first {
    color: var(--second-color);
    }
.logo-footer-last {
    color: var(--accent-color);
}
.footer-address-link {
    font-style: normal;
    color: var(--accent-color);
    font-size: 14px;
    line-height: calc(24/14);
    margin-top: 20px;
    margin-bottom: 9px;
}
.footer-e-mail {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--footer-paragraph-color);
    margin-bottom: 9px;
}
.footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--footer-paragraph-color);
}
.address-list .link:hover, .address-list .link:focus {
    color: var(--second-color);
}
/* WebStudio */

.hero {  
    background: var(--hero-footer-background);
    margin-left: auto;
    margin-right: auto;
}
.hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero-titel {
    color: var(--accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    max-width: 696px;
    min-height: 120px;
    margin: 0px auto 30px auto;
    padding-top: 200px;
}
.button-order {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
letter-spacing: 0.06em;
color: var(--accent-color);
background-color: var(--second-color);
cursor: pointer;
box-shadow: 0px 4px 4px var(--button-order-shadow);
border-radius: 4px;
width: 216px;
height: 50px;
margin: 0px auto 200px auto;
display:block;
padding: 8px 32px;
border-color: transperent;
}
/*Features*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .features-item {
    list-style: none;
    width: 270px;
}
  .features-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .features-item-paragraph {
    font-size: 14px;
    line-height: calc(24/14);
    color: var(--paragraph-color);
  }
  /*What-we-do*/
  .whatwedo-titel {
   margin-bottom: 50px;
  }
  .whatwedo-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--img-gap);
    flex-basis: calc((100% - var(--img-gap) * (var(--img-quantity-whatwedo)-1)) / var(--img-quantity-whatwedo));
    padding-top: 50px;
  }
  /*Our Team*/
.ourteam {
    background: var(--background-color);
}
.our-team-container {
display: flex;
flex-direction: column;
}
.our-team-list {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: var(--img-gap);
    flex-basis: calc((100% - var(--img-gap)*(var(--img-quantity-ourteam)-1)) / var(--img-quantity-ourteam));
}
.ourteam-item {
    background-color: var(--accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.ourteam-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: calc(19/16);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.ourteam-item-paragraph {
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    color: var(--paragraph-color);
    padding-bottom: 30px;
}
/*Portfolio*/
.portfolio-hero-container {
    display: flex;
    flex-direction: column;
}
.container-portfolio-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--img-gap);
    flex-basis: calc((100% - var(--img-gap) * (var(--img-quantity-portfolio)-1)) / var(--img-quantity-portfolio));
}
.wrapper {
    border-top: none;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.portfolio-list-titel {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin-bottom: 4px;
}
.portfolio-list-paragraph {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--paragraph-color);
}